.filter-content{
    display: flex;
    justify-content: space-between;
    border: 1px green solid;
}
.filter-price{
    margin: 0px 0px;
    font-size: 18px;
    font-weight: bold;
}
.priceNum{
    color: #FF5959;
}
