.filter-content{
    border: 1px green solid;
}
.filter-content div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-content p{
    text-align: center;
}
.filter-price{
    margin: 0px 0px;
    font-size: 18px;
    font-weight: bold;
}
.priceNum{
    color: #FF5959;
}
