.voicechat-section {
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: space-between; */
  align-items: center;
  height: 100vh;
  background-color: #FFF8F3;
}

.chatbot {
  display: flex;
  position: absolute;
  top: 25%;
  z-index: 10;
  align-items: center;
  width: 80%;
}

.chat-startBtn {
  margin-bottom: 20px;
  padding: 20px 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #FF961B;
  color: #fff;
  cursor: pointer;
  position: fixed;
  font-weight: bold;
  width: 350px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); /* 버튼을 가로로 중앙 정렬 */
}
.textbox{
  font-family: 'Pretendard', sans-serif;
  width: 330px;
  height: 100px;
  display: flex;
  border: 1px solid #d9d9d9;
  font-size: 18px;
  position: relative;
  top: 60%;
  padding: 10px;
  line-height: 170%;
}
