.title{
  padding: 0 20px;
  font-size: 20px;
  font-weight: bolder;
  color: #2c2c2c;
  p{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.input-container{
  padding: 20px;
  input{
    width: 325px;
    height: 5vh;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    font-size: 18px;
  }
  input:focus{
    outline: none;
    border-bottom: 1px solid #80BAFF;
  }
  .titleInput{
    width: 80px;
    height: 18px;
    margin: 10px;
    font-size: 18px;
  }
  p{
    font-size: 18px;
    margin-bottom: 30px;
  }
}