.consumList-container{
    padding: 20px;
}
.consumList-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.consumList-filter p{
    font-size: 16px;
    color: #2C2C2C;
    margin: 0px 0px 5px;
}
.consumList-filter select{
    border: none;
    height: 25px;
}
.consumList-date{
    border-bottom: 1px solid #686868;
    font-size: 16px;
    color: #2C2C2C;
}
.consumList-time{
    font-size: 16px;
    color: #686868;
    margin: 0px 0px;
}
.consumList-content{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E1E6EC;
}
.consumList-content p{
    font-size: 18px;
    color: #2C2C2C;
    margin: 10px 0px;
}