/* 360px 이하 */
@media (max-width: 360px) {
  .containerA, .containerB {
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #fff8f3; /* .containerA의 배경색 */
    position: relative;
  }

  .containerB {
    background-color: #F8FBFF; /* .containerB의 배경색 */
  }

  .button-group {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .button {
    flex: 1;
    background-color: #fff;
    box-shadow: 1px 2px 4px #888;
    padding: 8px;
    border-radius: 8px;
    margin-right: 8px;
    text-align: center;
  }

  .button:last-child {
    margin-right: 0;
  }

  .button-text {
    margin-top: 8px;
    font-size: 14px;
  }
}

/* 361px ~ 390px */
@media (min-width: 361px) and (max-width: 390px) {
  .containerA, .containerB {
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #fff8f3; /* .containerA의 배경색 */
    position: relative;
  }

  .containerB {
    background-color: #F8FBFF; /* .containerB의 배경색 */
  }

  .button-group {
    display: flex;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 90px;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  .button {
    flex: 1;
    background-color: #fff;
    box-shadow: 1px 2px 4px #888;
    padding: 9px;
    border-radius: 9px;
    margin-right: 9px;
    text-align: center;
  }

  .button:last-child {
    margin-right: 0;
  }

  .button-text {
    margin-top: 9px;
    font-size: 15px;
  }
}

/* 390px 이상 */
@media (min-width: 390px) {
  .containerA, .containerB {
    max-width: 390px;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #fff8f3; /* .containerA의 배경색 */
    position: relative;
  }

  .containerB {
    background-color: #F8FBFF; /* .containerB의 배경색 */
  }

  .button-group {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .button {
    flex: 1;
    background-color: #fff;
    box-shadow: 1px 2px 4px #888;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .button:last-child {
    margin-right: 0;
  }

  .button-text {
    margin-top: 10px;
    font-size: 16px;
  }
}
