.matchModal-title{
  font-size: 22px;
  font-weight: bold;
  color: #2c2c2c;
  margin: 0px 0px;
  text-align: center;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 40px;
}
.matchModal-content{
  display: flex;
  justify-content: center;
}
.matchModal-content p{
  margin: 30px 0px;
  font-size: 18px;
}
.matchModal-line{
  margin: 0px;
  padding: 5px 0px;
}
.matchModal-line p{
  font-weight: bold;
}
.matchModal-dashed{
  border-bottom: 1px solid #D9D9D9;
  border-bottom-style: dashed;
}
.matchModal-price{
  font-size: 22px !important;
}
.matchModal-Num{
  color: #FF5959;
}
.modalContainer{
  display: flex;
  width: 270px;
  justify-content: space-between;
}
.matchModalBtn{
  width: 130px;
  height: 40px;
  background-color: #2C2C2C;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  margin: 15px 0px 0px;
}
.blueText{
  color: #0B74F1;
}