.container {
  max-width: 390px;
  margin: 0 auto;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #FFF8F3;
}

.logo-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.logo-image{
  width:15%;
  height: 50%;
}
.top-nav{
  padding-top: 80px;
}

.white-back{
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 7px #888;
  height: 36vh;
  position: relative;
}
.header {
  display: flex;
  padding: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
  flex-grow: 1;
}

.profile-name {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.profile-subtext {
  text-align: center;
  color: #555;
  margin: 0;
}

.main-section {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #FF961B;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 37vh;
  box-shadow: 0px 3px 7px #888;
}

.main-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.icon {
  width: 50px;
  height: 50px;
}

.button-group {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  flex: 1;
  background-color: #fff;
  box-shadow: 1px 2px 4px #888;
  padding: 20px;
  border-radius: 10px;
  margin-right: 10px;
  text-align: center;
}

.button:last-child {
  margin-right: 0;
}

.button-text {
  margin-top: 10px;
  font-size: 14px;
}

.card-section {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.card-text {
  font-size: 14px;
  color: #888;
  margin: 10px 0;
}

.card-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

/* 반응형 디자인 */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px;
  }

  .header {
    margin-bottom: 30px;
  }

  .profile-image {
    width: 80px;
    height: 80px;
  }

  .profile-name {
    font-size: 24px;
  }

  .main-section {
    padding: 30px;
  }

  .main-text {
    font-size: 20px;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .button-group {
    margin-bottom: 30px;
  }

  .button {
    padding: 30px;
  }

  .button-text {
    font-size: 16px;
  }

  .card-section {
    padding: 30px;
  }

  .card-text {
    font-size: 16px;
  }

  .card-link {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 60px;
  }
  .top-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .logo-image{
    width:10%;
    height: 40%;
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }

  .profile-name {
    font-size: 28px;
  }

  .main-section {
    padding: 40px;
  }

  .main-text {
    font-size: 24px;
  }

  .icon {
    width: 80px;
    height: 80px;
  }

  .button {
    padding: 40px;
  }

  .button-text {
    font-size: 18px;
  }

  .card-section {
    padding: 40px;
  }

  .card-text {
    font-size: 18px;
  }

  .card-link {
    font-size: 18px;
  }
}
