.card-app-container{
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
}
.app-title{
  font-size: 20px;
  font-weight: bolder;
  color: #2c2c2c;
  display: flex;
  justify-content: space-between;
}
.title-text{
  line-height: 180%;
}
.app-input-container{
  input{
    width: 345px;
    height: 5vh;
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid #D9D9D9;
    font-size: 16px;
  }
  .firstInput{
    width: 130px;
  }
  .secInput{
    margin-left: 10px;
    width: 200px;
  }
  input:focus{
    outline: none;
    border-bottom: 2px solid #80BAFF;
  }
}
.app-input{
  margin-top: 20px;
  span{
    font-size:16px;
    color:#2c2c2c;
    font-weight: 600;
  }
  .caption-text{
    font-size: 16px;
    margin-top: 8px;
    color: #A09E9E;
    line-height: 160%;
  }
}
.bankSelectMenu{
  height: 46px;
  width: 130px;
  border: none;
  border-bottom: 2px solid #D9D9D9;
  font-size: 16px;
  color: #A09E9E;
  option{
    color: #2c2c2c;
  }
  input::focus{
    border: none;
    border-bottom: 2px solid #D9D9D9;
  }
}
